:root {
  --grey-light: #2b303b;
  --grey-50: #e1e4ea;
  --grey-200: #181b25;
}

body {
  font-family: "Inter", sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hide-scroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.hide-scroll::-webkit-scrollbar-thumb {
  height: 0;
  width: 0;
  background: transparent;
}
.hide-scroll::-webkit-scrollbar-track {
  height: 0;
  width: 0;
  background: transparent;
}

/* QUILL EDITOR STYLES */

.ql-editor {
  border: 1px solid var(--grey-light);
  border-radius: 8px;
  min-height: 72px;
  padding: 8px;
  color: white;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="datetime-local"] {
  -moz-appearance: textfield;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.pac-container {
  margin-top: 0.5rem;
  background-color: var(--grey-200);
  border: 1px solid var(--grey-50);
  border-radius: 0.5rem;
}

.pac-item {
  padding: 10px;
  color: var(--grey-50);
}

.pac-item:hover {
  background: transparent;
  cursor: pointer;
}

.pac-item-query {
  color: var(--grey-50);
  font-family: "Inter", sans-serif;
}

.pac-item:not(:first-child) {
  border-top: 1px solid var(--grey-light);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181b25;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eaecf0;
  border-radius: 0.5rem;
  width: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eaecf0;
}
